:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm:14px;
    --md:16px;
    --lg:18px; 
    }
    
    body{
        font-family: 'Quicksand', sans-serif;
    }
    
    /* esta es la caja principal(aside) en donde tenemos a todos los elementos, le modificamos el widht como nosotros querramos, le agregamos un padding para que se separe el texto del margin, le ponemos un box-sizing:border-box para que la caja se acomode correctamente y le damos una posicion absoluta para poder ubicarla a la derecha con el rigth:0*/
    .product-detail {
        width: 360px;
        padding: 24px;
        box-sizing: border-box;
        position: absolute;
        right: 0;
      }
      /* este es el contenedor del titulo, le ponemos un display flex y aling items center para que el logo flechita y el texto se alineen */
      .title-container {
        display: flex;
        margin-bottom: 12px;
        align-items: center;
      }
      /*al logo de la flechita lo rotamos para que se ponga apntando a la izquierda y le damos un margin para separarlo del texto*/
      .title-container img {
        transform: rotate(180deg);
        margin-right: 14px;
      }
      /*al titulo le sacamos el margin por defecto que tiene*/
      .title {
        font-size: var(--lg);
        font-weight: bold;
        margin: 0;
      }

    /* */
    
   
  

    /*aqui se encuentra tanto el acumulador de articulos, como los articulos individuales que voy agregandp, le ponemos un flex column para acomodarlos uno abajo del otro en columna */
    .my-orden-content{
     display: flex;
     flex-direction: column;
    }
    /* en esta caja se encuentra el acumulador de la orden le poenemos un display grid colum y alineamos las dos culumnas con el template-column auto y 1fr, luego con el aling item la ponemos en el medio y con el gap damos un espaciado de 16px*/
    .order{
        background-color: var(--text-input-field);
        border-radius: 10px;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        margin-bottom: 24px;
        padding: 0 24px;
        gap: 16px;
    }
    /* al primer hijo de order le ponemos un display flex column para acomodar los dos spam un abajo del otro*/
    .order p:nth-child(1){
        display: flex;
        
        flex-direction: column;
    }
    /* a los spam de "p" le cambiamos la fuente segun como se ve en la pagina*/
    .order p span:nth-child(1){
        font-size: var(--md);
        font-weight: bold;
     }
     .order p span:nth-child(2){
        font-size: var(--sm);
        color: var(--light-pink);
     }
    /*al segundo hijo(el precio) lo alineamos al final */
    .order p:nth-child(2){
        text-align: end;
        font-weight: bold;
    }
    
    /* esta caja es para las card del shopping cart, se le pone un display grid template column y con el primer valor en auto(imagen), el segundo le ponemos 1fr(Nombre del producto),al tercero auto(precio del producto),4to auto*/
    .shopping-content {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
    }
    
 /* le sacamos el margin que tiene por defecto el figure*/
    .shopping-content figure{
        margin: 0;
    }
    
/* configuramos el img dentro de figure, poniendole un object fit cover para que se acomode a la caja*/
    .shopping-content figure img{
        width: 70px;
        height: 70px;
        border-radius: 20px;
        object-fit: cover;
    }
    /* modificamos los dos p hijos como se ven en la pantalla*/
    .shopping-content p:nth-child(2){
        color: var(--light-pink);
    }
    .shopping-content p:nth-child(3){
        font-weight: bold;
    }
    /* boton checkout*/
    .primary-button{
        background-color: var(--hospital-green);
        border: none;
        border-radius: 16px;
        height: 50px;
        width: 100%;
        color: var(--white);
        cursor: pointer;
        font-size: var(--md);
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
     
    }
    @media (width<=640px) {
        .product-detail {
          width: 100%;
        }
    }
