:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm:14px;
    --md:16px;
    --lg:18px; 
    }
    body{
        margin: 0;
        font-family: 'Quicksand', sans-serif;
    }
    /* Este es el padre de las cards , lo que hacemos aqui es asignar una variable con el tamaño de las cartas, luego asignamos el display:grid , y ponemos el grid template comlumns para las columnas,  utilizamos adentro un repeat(autofill y la variable de card-size que hicimos. luego alineamos todo el padre en el centro del body*/
    .cards{
        --card-size: 240px;
        display: grid;
        grid-template-columns: repeat(auto-fill,var(--card-size));
        gap: 24px;
        place-content: center;
      
    }
    /*dentro de los cards esta el hijo card, que esta dividio por una etiqueta img con la imagen del producto y luego con un div, donde esta el contenido(informacion de dicho producto mostrado en el img, a este img le ponemos el valor de la variable --card-size en el height y width, un border radius de 20px y un object-fit:cover para que la imagen se acomode dentro de la etiqueta img sin quedar desproporcionada*/
    .card img{
        width: var(--card-size);
        height: var(--card-size);
        border-radius: 20px;
        object-fit: cover;
    }
    /*en esta clase tenemos el contenido dentro de la card, le pondremos un display:flex, aling-items: center para que queden centrados y justify-content: space- between para que que se pongan uno en cada esquina, al final un margin-top para que se separe un poco de la etiqueta img*/
    .div-content{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 12px;

    }
    /*en esta clase con la etiqueta figure le sacamos el margin por defecto que tiene*/
    .div-content figure{
        margin: 0px;
        
    }
    /*aca le ponemos el tamaño a la etiqueta img dentro de figure*/
    .div-content figure img{
        width: 30px;
        height: 35px;
    }
    /*en el div content hay dos etiquetas "p", aca en la primera se encuentra el precio de dicho producto, lo resaltamos con el font-weight:bold y sacamos los margin top y bottom que tiene el p por defecto*/
    .div-content p:first-child{
        font-weight: bold;
        font-size: var(--md);
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /*en el ultimo p, ponemos otro tamaño de fuente sin el bold y sacamos los margin bottom que tiene el p por defecto y al top solo le dejamos 2px para que haya una pequeña separacion con el p de arriba*/
    .div-content p:last-child{
        font-size: var(--md);
        border-bottom: 0px;
        color: var(--light-pink);
        margin-bottom: 0px;
        margin-top: 2px;
    }
    /*esto es para el responsive mobile, solo cambiamos la variable que hicimos al principio y le ponemos 160 px*/
    @media(width<=640px){
        .cards{
            --card-size:160px
        }
    }